body{
    font-size: 30px;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    color: #C00645;
}

html
{
    background-image: linear-gradient(to top right, #E7CDCE, #E1848C);
}

.continue_button
{
    font-size: 50px;
    color: #C00645;
    background-color: #D05D65;
    border-width: 5px;
    border-color: black;
}

.continue_button:hover
{
    border-color: lightgreen;
}